# ========Ollama=========
OLLAMA_BASE_URL="http://ollama:11434"
EMBEDDING_MODEL="your-embedding-model"
EMBEDDING_DIMS="1024" #your embedding-model dimensions
LLM_BASE_OPENAI_URL="http://ollama:11434/v1"

# ====Google AI Studio====
LLM_API_KEY="API_Key_From_Google_AI_Studio"
LLM_MODEL="your-generative-model"

LINE_CHANNEL_SECRET="your_line_channel_secret"
LINE_CHANNEL_ACCESS_TOKEN="your_line_channel_acess_token"

# ======Postgrresql=======
# For docker connect
DATABASE_URL="postgres://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME"

# for local connect
# DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5439/DATABASE_NAME"

# ========NextAuthLib=========
NEXTAUTH_SECRET="next_auth_secret"

# ======Public Hostname=======
NEXT_PUBLIC_BASE_URL="Your_public_Base_URL/host_address_eg.127.0.0.1:3000"

# ========LINE LIFF=========
#**
NEXT_PUBLIC_LIFF_ID="line_liff_id_MESSAGING_API"
NEXT_PUBLIC_LIFF_ID2="line_liff_id_LINE_LOGIN"
NEXTAUTH_URL="Your_NEXTAUTH_URL

RESEND_API_KEY="RESEND_NEXTJS_EMAIL_SENDER_API_KEY"
RESEND_FROM_EMAIL="onboarding@resend.dev"

# ========Postgresql (Docker)=======
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="postgres_db"
